{% extends 'base.html' %}
{% block title %} Flask Login {% endblock %}
{% block contents %}
<div class="form-body container-fluid">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3>Get more things done with Loggin platform.</h3>
          <br>
          <p>This website is created with <strong style="color:orange">Flask</strong>.</p>
          <strong id="status" style="color:orange"></strong>
          <br>
          <div class="page-links">
            <a href="{{url_for('user.login')}}" class="active">Login</a><a href="{{url_for('user.register')}}">Register</a>
          </div>
          <form id="loginForm">
            <input class="form-control" type="email" id="email" placeholder="E-mail Address" required>
            <input class="form-control" type="password" id="password" placeholder="Password" required>
            <div class="form-button">
              <button id="login" type="submit" class="ibtn">Login</button>
            </div>
          </form>
          <div class="other-links">
            <span>Or login with</span><a href="#">Facebook</a><a href="#">Google</a><a href="#">Linkedin</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}